name: deploy-book

on:
  push:
    branches:
      - main

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # AQUÍ ESTÁ LA CLAVE: Construimos la carpeta 'libro', no el punto '.'
    - name: Build the book
      run: |
        jupyter-book build libro

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: "libro/_build/html"

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
