name: deploy-book

on:
  push:
    branches:
      - main

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install jupyter-book

    # --- CAMBIO IMPORTANTE AQUÍ ---
    # Entramos a la carpeta (cd libro) y construimos ahí mismo (.)
    - name: Build the book
      run: |
        cd libro
        jupyter-book build .

    # Subimos el resultado que se generó dentro de la carpeta
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: "libro/_build/html"

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
